

[Unit]

Description=unified-monitoring-agent: Fluentd based data collector for Oracle Cloud Infrastructure
Documentation=https://docs.cloud.oracle.com/

After=network-online.target
Wants=network-online.target

Before=oracle-cloud-agent.service


[Service]
User=root
Group=root
CPUQuota=40%
MemoryLimit=5120M
LimitNOFILE=512000
Environment=LD_PRELOAD=/opt/unified-monitoring-agent/embedded/lib/libjemalloc.so
Environment=PATH=/opt/unified-monitoring-agent/embedded/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Environment=GEM_HOME=/opt/unified-monitoring-agent/embedded/lib/ruby/gems/3.0.0/
Environment=GEM_PATH=/opt/unified-monitoring-agent/embedded/lib/ruby/gems/3.0.0/
Environment=FLUENT_CONF=/etc/unified-monitoring-agent/unified-monitoring-agent.conf
Environment=FLUENT_PLUGIN=/etc/unified-monitoring-agent/plugin
Environment=FLUENT_SOCKET=/var/run/unified-monitoring-agent/unified-monitoring-agent.sock
Environment=SERVERENGINE_SOCKETMANAGER_SOCK_DIR=/etc/unified-monitoring-agenttmp
Environment=EXTRA_OPTIONS=

EnvironmentFile=-/etc/default/unified-monitoring-agent

RuntimeDirectory=unified-monitoring-agent
Type=simple
ExecStart=/opt/unified-monitoring-agent/embedded/bin/fluentd \
          --log /var/log/unified-monitoring-agent/unified-monitoring-agent.log \
          --log-rotate-size 1048576 --log-rotate-age 10 $EXTRA_OPTIONS
ExecReload=/bin/kill -USR2 ${MAINPID}
ExecStop=/bin/kill -TERM ${MAINPID}
Restart=always
RestartSec=60
TimeoutStartSec=600
TimeoutStopSec=300
PrivateTmp=true
CapabilityBoundingSet=~CAP_LEASE
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_SYS_PACCT
UMask=022
Delegate=true
RestrictAddressFamilies=~AF_NETLINK
RestrictAddressFamilies=~AF_PACKET
SystemCallArchitectures=native
SystemCallFilter=~@swap
SystemCallFilter=~@obsolete
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@mount
SystemCallFilter=~@module
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
CapabilityBoundingSet=~CAP_FSETID
CapabilityBoundingSet=~CAP_SETFCAP
CapabilityBoundingSet=~CAP_DAC_READ_SEARCH
CapabilityBoundingSet=~CAP_FOWNER
CapabilityBoundingSet=~CAP_IPC_OWNER
CapabilityBoundingSet=~CAP_KILL
CapabilityBoundingSet=~CAP_NET_BIND_SERVICE
CapabilityBoundingSet=~CAP_NET_BROADCAST
CapabilityBoundingSet=~CAP_NET_RAW
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE
CapabilityBoundingSet=~CAP_LINUX_IMMUTABLE
CapabilityBoundingSet=~CAP_IPC_LOCK
CapabilityBoundingSet=~CAP_SYS_CHROOT
CapabilityBoundingSet=~CAP_BLOCK_SUSPEND
CapabilityBoundingSet=~CAP_WAKE_ALARM
CapabilityBoundingSet=~CAP_SYS_ADMIN
CapabilityBoundingSet=~CAP_SYS_PTRACE
CapabilityBoundingSet=~CAP_SYS_TIME
CapabilityBoundingSet=~CAP_NET_ADMIN
CapabilityBoundingSet=~CAP_SYS_RAWIO
CapabilityBoundingSet=~CAP_SYS_MODULE

[Install]
WantedBy=multi-user.target
